<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
			<%= stylesheet_link_tag "application", media: "all" %>
			<%= javascript_include_tag "application" %>
			<%= csrf_meta_tags %>
			<%= yield(:head) %>
			<%= render 'layouts/shim' %>
</head>
<body>
	<%= mathjax_tag %>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>

		<%= yield %>
	</div>
<div class="modal"><!-- Place at bottom of page --></div>

<style id="coolloader">
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        100px;
    height:     50%;
    width:      50%;
    background: rgba( 255, 255, 255, 1 ) 
                url('/loading.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: auto;   
}

body.loading .modal {
    display: block;
}
</style>

<script id="cooljsloading">
	$body = $("body");

	$(document).on({
	    ajaxStart: function() { $body.addClass("loading");    },
	     ajaxStop: function() { $body.removeClass("loading"); }    
	});

</script>


</body>
</html>
